{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "react/destructuring-assignment": "off",
    "react/no-array-index-key": "off",
    "no-plusplus": "off",
    "no-shadow": "off",
    "no-const-assign": "off",
    "global-require": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "no-use-before-define": "off",
    "react/style-prop-object": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120
      }
    ]
  },
  "plugins": [
    "prettier"
  ]
}